@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-color: rgba(104, 109, 118, 0.90);
    font-family: "Mulish", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

h3{
    color: #FFFFFF;
}

.container{
    width: 400px;
}

#textarea{
    width: 100%;
    height: 100px;
    font-family: inherit;
    font-size: 16px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    outline: none;
}

#tags{
    margin: 10px 5px;
    width: 400px;
    height: auto;
}

.tag{
    background-color: #373A40;
    color: #FFFFFF;
    padding: 13px 18px;
    margin: 4px 5px;
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    border-radius: 10px;
}

.highlight {
    background-color: rgba(243, 36, 36, 0.90);
    color: #FFFFFF;
    font-weight: 700;
}